<a href="https://colab.research.google.com/github/ChitikelaNeelaPadmavathi/python-codes/blob/main/DAY1_PYTHON_CODES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.Check if a Number is Positive and Negative in Python

In [ ]:
n=int(input())
if n>0:
  print("It is positive Number")
elif n<0:
  print("Negative Number")
else:
  print("zero")

0
zero

# 2.Python Program to Check Whether a Number is Even or Odd

In [ ]:
num=int(input())
if num%2==0:
    print ("Even")
else:
    print("Odd")

5
Odd

In [ ]:
#By using ternary operator
num=int(input ())
print("even") if num%2==0 else print("odd")

6
even

#3.Python Program to Find the Sum of First N Natural Numbers

In [ ]:
num=int(input ())
sum=0
for i in range(num+1):
    sum+=i
print(sum)

5
15

In [ ]:
#by using formula
num=int(input ())
print(int(num*(num+1)/2))

5
15

In [ ]:
#by using recursion
def getsum(num):
    if num==1:
        return 1
    return num+getsum(num-1)
num=int(input ())
print(getsum(num))

1
1

#4.Sum of numbers in the given range

In [ ]:
num1=int(input ("Enter 1st number:"))
num2=int(input ("Enter 2nd number:"))
sum=0
for i in range (num1,num2+1):
    sum=sum+i
print (sum)

Enter 1st number:3
Enter 2nd number:6
18

#5.Greatest of two numbers

In [ ]:
Num1=int(input ())
Num2=int(input ())
print(max(Num1,Num2))

56
6
56

#6.Greatest of three numbers

In [ ]:
num1=int(input ())
num2=int(input ())
num3=int(input ())
if num1>num2 and num1>num3:
    print(num1,"is greater")
elif num2>num1 and num2>num3:
    print (num2,"is greater")
else:
   print(num3,"is greater ")

45
8
0
45 is greater

#7.Leap year

In [ ]:
num=int(input ())
if num%4==0 and num%100!=0:
    print ("Leap year")
elif num%400==0:
    print("leap year")
else:
    print("not a Leap year")

2024
Leap year

#8.prime number

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

# Example usage
number = int(input ())
if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

13
13 is a prime number.

#9.prime number within the range

In [ ]:
start = 10
end = 50
for n in range(start, end + 1):
    is_prime = True
    if n > 1:
        for i in range(2, n):
            if n % i == 0:
                is_prime = False
                break
        if is_prime:
            print(n)

#10.Reverse a number

In [ ]:

number = int(input("Enter a number: "))
reversed_number = int(str(number)[::-1])
print("Reversed Number:", reversed_number)

Enter a number: 057899
Reversed Number: 99875