<a href="https://colab.research.google.com/github/ChitikelaNeelaPadmavathi/python-codes/blob/main/Python_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.AUTOMORPHIC CODE
Example:if we take 0ne number then we can find the square number for that then we can that 1's palce number is equal to given number if same IT IS A AUOMORPHIC NUMBER

In [ ]:
n=int(input ())
m=n*n
num=m%10
if num==n:
    print ("It is a automorhic number")
else:
    print("It is not automorhic")

7
It is not automorhic

#2. ABUNDANT CODE
Example:we take one number then we check factors of that number then summ all the factors then we check sum is grater than give number then it is abundant number
N=12
Factors:1+2+3+4+6=16 so it is abundant number

In [ ]:
n=int(input ())
sum=0
for i in range (1,n):
    if n%i==0:
        sum=sum+i
if sum>n:
    print("ABUNDANT NUMBER")
else:
    print("Not a ABUNDANT NUMBER")

12
ABUNDANT NUMBER

#3.PERFECT NUMBER

In [ ]:
n=int(input ())
sum=0
for i in range (1,n):
    if n%i==0:
        sum=sum+i
if sum==n:
    print("perfect NUMBER")
else:
    print("Not a perfect NUMBER")

12
Not a perfect NUMBER

#4.HARSHARD NUMBER
example:we can two digit number then we can divide that number and add then we can check sum is divisible by give number or not

In [ ]:
n=int(input ())
p=n
sum=0
while(n>0):
    rem=n%10
    sum=sum+rem
    n=n//10
if p%sum==0:
    print("yes")
else:
    print ("No")

19
No

#5.PERFECT SQUARE
example:25 is perfect
23 is not a perfect

In [ ]:
n=int(input ())
for i in range (n):
    if i*i==n:
        print("Perfect square")
        break
else:
    print("Not a perfect")

3
Not a perfect

#6.FRIENDLY PAIR
if we take two numbers 6 and 8

factors of 6=1+2+3=6/6=1 and 28=1+2+7+14=28/28=1

1=1 so it is a friendly pair

In [ ]:
n1=int(input())
n2=int(input())
sum1=0
sum2=0
for i in range(1,n1):
    if n1%i==0:
        sum1=sum1+i
        for j in range(1,n2):
            if n2%j==0:
                sum2=sum2+i
if sum1//n1==sum2//n2:
    print("friendly pair")
else:
    print("not friendly pair")

6
28
friendly pair

#7.VOWELS AND CONSONANTS

In [ ]:
c=input ()
if(c=='a' or c=='e'or c=='i' or c=='o' or c=='u' or c=='A' or c=='E' or c=='I' or c=='O' or c=='U'):
    print("Vowels")
else:
    print("Consonant")

g
Consonant

#8.COUNT OF VOWELS AND CONSONANT

In [ ]:
b=input ()
v=0
c=0
for i in b:
     if(i=='a' or i=='e'or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
         v+=1
     else:
         c+=1
print("vowels:",v)
print("Consonant:",c)

Neelu
vowels: 3
Consonant: 2

#9.ALPHABET OR NOT
Here "ord" is used to follow the order of alphabet bansed on the order we can print ascii value

In [ ]:
ch=input ()
if('a'<=ch<='z' or 'A'<=ch<='Z'):
    print("Alpha")
else:
    print("Not Alpha")

63
Not Alpha

#10.ASCII VALUE
(A toZ):65-90
(a to z):97-122

In [ ]:
a=input ()
b=ord(a)
print(b)

A
65

#11.LENGTH OF STRING

In [ ]:
S=input ()
l=0
for i in S:
    l+=1
print ("Length:",l)

Hjkf
Length: 4

#12.SORTING AN ARRAY

In [ ]:
A=[23,4,6]
A.sort()
print (A)

[4, 6, 23]

In [ ]:
#here by using sorted
A=[4,1,6,2]
B=sorted(A)
print(B)

[1, 2, 4, 6]

#13.SWAP LOWER TO UPPER UPPER TO LOWER

In [ ]:
str=(input ())
print(str.swapcase())

NeeLu
nEElU

#14.PLAINDROME

In [25]:

str = input()
if str==str[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Neelu
Not a palindrome

#15.REVERSE A STRING

In [26]:
str = input()
str=str[::-1]
print(str)

Abc
cbA